
@{
    ViewBag.Title = "Index";
}



<div class="success-background d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center success-text">Action Performed successfully</div>
        <div class="col-12 my-5 d-flex justify-content-center align-items-center">
            <a href="@Url.Action("Index", "Home")"><button type="button" class="btn btn-lg sc-btn">Return Home Page</button></a>
        </div>
    </div>
</div>

